/*Utilidades*/

.u-title{
	color: #00DBFF;
	border-bottom: 2px dashed #00CCFF;
	font-weight:normal;
	text-align:center;
	padding-bottom:.5em;
	font-size:1.5em;
	}

/*MainMenu*/

.MainMenu{
	background: #1E1E1E;
	text-align:center;
	height: 3.75em;
	position:fixed;
	left: 0;
	right: 0;
	top: 0;
	}
	
.MainMenu-list{
	margin:0;
	padding: 0;
	
}


.MainMenu-item{
	display: inline-block;
	}
.MainMenu-link{
	color: #00DBFF;
	text-decoration:none;
	line-height: 3.75em;
	margin-right: 1.5em;
	background-position:center;
	}

/*Header*/

.Header{
	margin-top: 3.75em;
	background-image:url(../images/portada.jpg);
	background-repeat:no-repeat;
	background-position:center;
	height:350px;
	text-align:center;
	background-size:cover;
	padding:1.2em 0;
}
.Header-image{
	border: 5px solid #FFF;
	border-radius: 50%;
	
}
.Header-name,
.Header-link{
	color:#FFF;
}
.Header-link{
	font-size: 2.2em;
	font-weight: bold;
	text-decoration: none;
	}
.Header-name{
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
}

/*Profile*/

.Profile{
	text-align:center;
	
	}
.Profile-link{
	background:#F90;
	color:#FFF;
	text-decoration:none;
	padding:.5em 1em;
	border-radius:2em;
	margin-right:5em;
	}	

/*Work*/

.Work{
	margin-top: 2em;
	text-align :center;
}

.Work-item{
	display: inline-block;
	margin-right: 1.8em;
}

.Work-imageContainer{
	margin:0;
}

.Work-description{
	font-size:1.1em;
	color:#F00;
	font-style:italic;
	}
	
/*Footer*/

.Footer{
	background-image:url(../images/footer.jpg);
	margin-bottom:500px;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	
	}
.Footer-title{
	color:#FFF;
	
	}
.Footer-description{
	text-align:center;
	color:#000;
	}
.Footer-left{
	display:inline-block;
	width:32em;
	text-align:center;
	vertical-align:text-top;
	
	}
.Footer-righ{
	display:inline-block;
	}